* {

font-family: 'Baloo Bhaijaan', cursive;
font-size: 16px;
}

body {
    background-image: url("https://previews.123rf.com/images/ateli/ateli1202/ateli120200043/12490459-Seamless-background-with-cartoon-style-hamburgers-Stock-Vector-burger-hamburger.jpg");
}
.eatBurger {

  border: 2px solid #bf5e03;
  border-radius: 5px;
  background: white;
  opacity: 0.8;

}

.addBurger {

  border-top: 2px solid #bf5e03;
  border-left: 2px solid #bf5e03;
  border-right: 2px solid #bf5e03;
  border-radius: 5px;
  background: white;
  opacity: 0.8;
}

ul {
  padding-left: 0;
}

li {
  padding: 5px;
  margin: 5px;
  background: white;
  opacity: 0.8;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: white;
  opacity: 0.8;
}

.form-group {
  margin-bottom: 5px;
}

#burgerName {

  border-width: 3px;
  border-color: #bf5e03;
  border-radius: 5px;


}
